<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Boilerplate</title>
	</head>
	<body>
		<!-- Link to include bootstrap CSS for 3.3.7 version -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" /> -->
		<div id="root"></div>
	</body>
</html>